<div class="width-75 mb-5" style="text-align: center">
  <form class="pagination d-inline m-auto" action="/campgrounds" method="GET">
    <input type="text" name="page" value="1" class="d-none" />
    <button type="submit" class="button d-inline">1</button>
  </form>

  <form class="pagination d-inline m-auto" action="/campgrounds" method="GET">
    <input type="text" name="page" value="2" class="d-none" />
    <button type="submit" class="button d-inline">2</button>
  </form>

  <form class="pagination d-inline m-auto" action="/campgrounds" method="GET">
    <input type="text" name="page" value="3" class="d-none" />
    <button type="submit" class="button d-inline">3</button>
  </form>

  <form class="pagination d-inline m-auto" action="/campgrounds" method="GET">
    <input type="text" name="page" value="4" class="d-none" />
    <button type="submit" class="button d-inline">4</button>
  </form>
</div>