.card {
  min-width: 75%;
  max-width: 75%;
  margin: 0 0.2em 1em 5.25em;
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
  box-shadow: #26394d 0px 20px 30px -10px;
  text-align: start !important;
}

.row,
col-6 {
  text-align: center;
}

@media only screen and (max-width: 940px) {
  .row,
  .col-6 {
    display: block !important;
    margin: auto;
    width: 95%;
    text-align: center;
  }
  .card {
    margin: auto;
    text-align: start !important;
  }
}

.image-upload > input {
  display: none;
}

.show-image {
  position: relative;
}

.show-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.photo-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.photo-container:hover,
.fa-pencil-square-o:hover .photo-container {
  opacity: 0.3;
}

.not-logged-in-photo-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.fa-pencil-square-o {
  position: absolute;
  display: none;
  top: 40%;
  left: 40%;
  cursor: pointer;
}

.show-image:hover .fa-pencil-square-o {
  display: block;
}
