#fixedbutton {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin-bottom: 90px;
  margin-right: 60px;
  width: 50px;
  height: 50px;
}

.navbar-item,
.navbar-link {
  text-decoration: none;
}

.no-decoration {
  text-decoration: none;
  color: black;
}

.footer {
  padding-bottom: 3rem;
}

.brand {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.buttons a {
  text-decoration: none;
}

.image {
  position: relative;
  width: 400px;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background: #212529;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 0.75;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
  margin-left: 1em;
  text-align: center;
  word-break: break-all;
  margin-right: 1em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 75%;
  margin: auto;
  justify-content: center;
}

.flex-item {
  margin: 3px 3px 3px 3px;
}

#yelpcamp-icon {
  margin: 0.4em -0.6em 0 1em
}

.flex-item-link {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}

.flex-item-link:hover {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}

.campground-images {
  position: relative;
  float: left;
  margin-bottom: 1em;
}

.image-checkbox {
  position: absolute;
  top: 1em;
  left: 2.2em;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.margin-lr-auto {
  margin: 0 auto 0 auto;
}

#map {
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
}

.width-75 {
  width: 75%;
  margin: auto;
}
