<% layout('layouts/boilerplate.ejs') %>

<div class="row">
  <h1 class="text-center">Edit Review</h1>
  <div class="col-7 margin-lr-auto">
    <form
      action="/campgrounds/<%= campground_id %>/reviews/<%= review._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="body" class="form-label">Review: </label>
        <input
          type="text"
          class="form-control"
          id="body"
          name="review[body]"
          required
          value="<%= review.body %>"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update</button>
      </div>
    </form>
  </div>
</div>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll(".validated-form");

    // Loop over them and prevent submission
    Array.from(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
