<% layout('layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/stylesheets/stars.css" />

<div class="row">
  <h1 class="text-center">Edit Review</h1>
  <div class="col-7 margin-lr-auto">
    <form
      action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="rating">Rating</label>
        <div class="mb-3">
          <fieldset class="starability-checkmark">
            <% if(review.rating == 1) { %>
            <input
              type="radio"
              id="first-rate1"
              name="review[rating]"
              value="1"
              checked
            />
            <% } else { %>
            <input
              type="radio"
              id="first-rate1"
              name="review[rating]"
              value="1"
            />
            <% } %> 
            <label for="first-rate1" title="Terrible">1 star</label>
            <% if(review.rating == 2) { %>
            <input
              type="radio"
              id="first-rate2"
              name="review[rating]"
              value="2"
              checked
            />
            <% } else { %>
            <input
              type="radio"
              id="first-rate2"
              name="review[rating]"
              value="2"
            />
            <% } %> 
            <label for="first-rate2" title="Not good">2 stars</label>
            <% if(review.rating == 3) { %>
            <input
              type="radio"
              id="first-rate3"
              name="review[rating]"
              value="3"
              checked
            />
            <% } else { %>
            <input
              type="radio"
              id="first-rate3"
              name="review[rating]"
              value="3"
            />
            <% } %> 
            <label for="first-rate3" title="Average">3 stars</label>
            <% if(review.rating == 4) { %>
            <input
              type="radio"
              id="first-rate4"
              name="review[rating]"
              value="4"
              checked
            />
            <% } else { %>
            <input
              type="radio"
              id="first-rate4"
              name="review[rating]"
              value="4"
            />
            <% } %> 
            <label for="first-rate4" title="Very good">4 stars</label>
            <% if(review.rating == 5) { %>
            <input
              type="radio"
              id="first-rate5"
              name="review[rating]"
              value="5"
              checked
            />
            <% } else { %>
            <input
              type="radio"
              id="first-rate5"
              name="review[rating]"
              value="5"
            />
            <% } %> 
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Review: </label>
        <input
          type="text"
          class="form-control"
          id="body"
          name="review[body]"
          required
          value="<%= review.body %>"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="button is-info">Update</button>
      </div>
    </form>
  </div>
</div>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll(".validated-form");

    // Loop over them and prevent submission
    Array.from(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
