<% layout('layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/stylesheets/stars.css" />

<!-- <style>
  .kv-avatar .krajee-default.file-preview-frame,
  .kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
  }
  .kv-avatar {
    display: inline-block;
  }
  .kv-avatar .file-input {
    display: table-cell;
    width: 213px;
  }
  .kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
  }
</style> -->

<div class="row">
  <h1 class="text-center">Edit Profile</h1>
  <div class="col-7 margin-lr-auto">
    <form
      action="/profile/<%= user._id %>/?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder=""
          name="user[username]"
          required
          value="<%= user.username %>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder=""
          name="user[email]"
          required
          value="<%= user.email %>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="avatar">Avatar</label>
        <input
          type="file"
          class="form-control"
          id="avatar"
          placeholder=""
          name="user[avatar]"
          multiple
          required
        />
      </div>
      <div class="mb-3">
        <button class="button is-info">Update</button>
      </div>
    </form>
  </div>
</div>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll(".validated-form");

    // Loop over them and prevent submission
    Array.from(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
