<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/login.module.css" />

<div class="row">
  <div class="col-6 offset-3">
    <div class="overlay">
      <form action="/login" method="POST" class="validated-form" novalidate>
        <div class="con">
          <header class="head-form">
            <h2>Log In</h2>
            <p>login here using your username and password</p>
          </header>
          <br />
          <div class="field-set">
            <span class="input-item">
              <i class="fa fa-user-circle"></i>
            </span>
            <input
              type="text"
              id="txt-input"
              class="form-input"
              name="username"
              required
            />
            <br />
            <span class="input-item">
              <i class="fa fa-key"></i>
            </span>
            <input
              type="password"
              id="pwd"
              class="form-input"
              name="password"
              required
            />
            <span>
              <i
                class="fa fa-eye"
                aria-hidden="true"
                type="button"
                id="eye"
              ></i>
            </span>
            <br />
            <button class="log-in">Log In</button>
          </div>
          <div class="other">
            <a href="#" id="frgt-pass-btn" class="btn submits frgt-pass">Forgot Password</a>
            <a href="/register" class="btn submits sign-up" id="sign-up-btn">
              <div class="chungus">
                Sign Up
                <i class="fa fa-user-plus" aria-hidden="true"></i></div
            ></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function show() {
    var p = document.getElementById("pwd");
    p.setAttribute("type", "text");
  }

  function hide() {
    var p = document.getElementById("pwd");
    p.setAttribute("type", "password");
  }

  var pwShown = 0;

  document.getElementById("eye").addEventListener(
    "click",
    function () {
      if (pwShown == 0) {
        pwShown = 1;
        show();
      } else {
        pwShown = 0;
        hide();
      }
    },
    false
  );
</script>
