<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/register.module.css" />

<div class="row">
  <div class="col">
    <div class="overlay">
      <form
        action="/register"
        method="POST"
        class="validated-form register-login-form"
        novalidate
      >
        <div class="con">
          <header class="head-form">
            <h2>Sign Up</h2>
            <p>sign up with your username, email and password</p>
          </header>
          <br />
          <div class="field-set">
            <span class="input-item">
              <i class="fa fa-user-circle"></i>
            </span>
            <input
              type="text"
              id="txt-input"
              class="form-input"
              name="username"
              placeholder="Username"
              required
            />
            <br />
            <span class="input-item">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </span>
            <input
              type="text"
              id="txt-input"
              class="form-input"
              name="email"
              placeholder="Email"
              required
            />
            <br />
            <span class="input-item">
              <i class="fa fa-key"></i>
            </span>
            <input
              type="password"
              id="pwd"
              class="form-input"
              name="password"
              placeholder="Password"
              required
            />
            <span>
              <i
                class="fa fa-eye"
                aria-hidden="true"
                type="button"
                id="eye"
              ></i>
            </span>
            <br />
            <button class="log-in">Sign Up</button>
          </div>
          <div class="other">
            <p class="submits" id="have-account">Already Have An Account?</p>
            <a href="/login" class="btn submits sign-up" id="sign-up-btn">
              <div class="chungus">
                Log In
                <i class="fa fa-sign-in" aria-hidden="true"></i></div
            ></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function show() {
    var p = document.getElementById("pwd");
    p.setAttribute("type", "text");
  }

  function hide() {
    var p = document.getElementById("pwd");
    p.setAttribute("type", "password");
  }

  var pwShown = 0;

  document.getElementById("eye").addEventListener(
    "click",
    function () {
      if (pwShown == 0) {
        pwShown = 1;
        show();
      } else {
        pwShown = 0;
        hide();
      }
    },
    false
  );
</script>
